<h1>Target new</h1>
<%= simple_form_for([@target]) do |f| %>
  <%= f.input :target_date %>
  <%= f.input :target_amount %>
  <%= f.button :submit %>
<% end %>

<%# <%= consider new.html.erb in target_amounts%>
