<!-- app/views/targets/show.html.erb -->

<h1>Target Details</h1>

<p><strong>Target Date:</strong> <%= @target.target_date %></p>
<p><strong>Target Amount:</strong> $<%= @target.target_amount %></p>
<p><strong>Status:</strong> <%= @target.status ? 'Completed' : 'Pending' %></p>
<p><strong>History Transaction:</strong> <%= @target.history_transaction %></p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
