
  <section>
      <div class="banner-target"></div>
  </section>

<div class="targetamout_container_edit">
  <div class="col-12 align-self-center">
    <div class="container vh-100 py-5 mb-5">
      <h4 class="text-center mb-5">Updating my target for <%= @target.target_date.strftime('%Y-%m-%d') %></h4>
      <div class="bg-white shadow p-3">
        <%= simple_form_for @target, html: { class: 'form-horizontal' } do |f| %>
          <div class="form-group">
            <%= f.label :target_date %>
            <%= f.date_field :target_date, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :target_amount %>
            <%= f.text_field :target_amount, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :balance_id, 'Balance' %>
            <%= f.collection_select :balance_id, current_user.balances, :id, :account_number, { prompt: 'Select a balance' }, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :status, 'Status' %>
            <%= f.select :status, ['Achieved', 'Not Achieved'], { prompt: 'Select status' }, class: 'form-control' %>
          </div>

          <div class="form-group" style="display:flex;justify-content:center;gap:20px;">
            <%= f.submit 'Update', class: 'btn btn-ruby' %>
          <%= link_to 'Back to Targets', target_amounts_path, class: 'btn btn-ruby' %>
          </div>

          <div class="button-group">

           <%# <%= link_to 'Go to Home Page', root_path, class: 'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
