<!-- app/views/targets/index.html.erb -->

<body class="custom-background">
  <div class="container">
    <div class="center-text">
      <h1>Targets Amount</h1>

<h1>Targets amount</h1>


      <% if @targets.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @targets.each do |target| %>
              <tr>
                <td><%= target.target_date.strftime('%Y-%m-%d') %></td>
                <td><%= target.target_amount %></td>
                <td><%= target.status %></td>
                <td>
                  <%= link_to 'Show', target, class: 'btn btn-info' %>
                  <%= link_to 'Edit', edit_target_amount_path(target), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', target_amount_path(target), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No targets available.</p>
      <% end %>


      <%= link_to 'New Target', new_target_amount_path, class: 'btn btn-success' %>
      <%= link_to 'Go to Home Page', root_path, class: 'btn btn-primary mt-3' %>
    </div>
  </div>


    </tbody>
  </table>
<% else %>
  <p>No targets available.</p>
  <% end %>
  <%= link_to 'New Target', new_target_amount_path %>

<%= link_to 'Go to Home Page', root_path, class: 'btn btn-primary' %>

