<div class="row py-5">
  <section>
   <div class="banner-target"></div>
  </section>

  <div class="col-12 col-md-6 ">
    <div class="targetamounts_container-index">
     <!--first block-->
      <div class="container__container">

        <div class="container-fluid">


         <div class="center-text">
           <h1>Targets amount</h1>
           <% if @targets.any? %>
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @targets.each do |target| %>
                  <tr>
                    <td><%= target.target_date.strftime('%Y-%m-%d') %></td>
                    <td><%= target.target_amount %></td>
                    <td><%= target.status %></td>
                    <td>
                      <%= link_to 'Show', target, class: 'btn btn-primary mt-3' %>
                      <%= link_to 'Edit', edit_target_amount_path(target), class: 'btn btn-primary mt-3' %>
                      <%= link_to 'Delete', target_amount_path(target), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-primary mt-3' %>

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
           <% else %>
            <p>No targets available.</p>
           <% end %>
        </div>
      </div>
    </div>
    </div>

    <div class="links__container ml-5">
    <%= link_to 'New Target', new_target_amount_path, class: 'btn btn-primary mt-3' %>
    <%= link_to 'Go to Home Page', root_path, class: 'btn btn-primary mt-3-invese' %>
  </div>

</div>

<div class="col-12 col-md-6">
    <!--second block-->

   <div class="container-fluid">
      <h1>Set inspiring goals today and transform your dreams into <strong>Reality</strong> </h1>
      <div class="row mb-5">

      <div class="col-12 col-md-6">
        <%# <img src="https://cdn.pixabay.com/photo/2017/06/04/20/48/vision-2372177_1280.jpg" alt="Vision Image" class="img-fluid image-right"> %>
        <%= column_chart Transaction.group(:category).sum(:amount) %>
      </div>

      <%# <div class="col-12 col-md-6">
        <img src="https://cdn.pixabay.com/photo/2017/06/04/20/48/vision-2372177_1280.jpg" alt="Vision Image" class="img-fluid image-right">


    </div> %>
  </div>
</div>
