<h1>Create a new target</h1>
<%= simple_form_for @target do |f| %>
  <%= f.input :target_date %>
  <%= f.input :target_amount %>
  <%= f.collection_select :balance_id, current_user.balances, :id, :account_number, prompt: "Select a balance" %>
  <%= f.input :status, collection: ['Achieved', 'Not Achieved'], prompt: "Select status" %>
  <%= f.button :submit %>
<% end %>
<%= console %>
