<div class="row py-5">
<section>
   <div class="banner"></div>
  </section>

<div class="targetamount_container_new">
<div class="center-text">
    <%# <p>The easiest way to save your money is to set a target.</p> %>
    <p class="display-4">Set Your Financial Goals Today!</p>
    <p class="lead">The easiest way to save your money is to set a target.</p>
</div>
<div class="money-tracking-app form-container"> <!-- Added form-container class -->
  <p>Set financial goals, track your progress, and make your dreams a reality. Start by creating a new target below.</p>
  <h1>Create a new target</h1>

 <%= simple_form_for(@target) do |f| %>
      <%# <%= f.association :balance %>
      <%=f.association :balance, label_method: :current_balance, value_method: :id, include_blank: false %>
            <%= f.input :target_date %>
      <%= f.input :status, collection: [ "Not Archived", "Archived", "Pending" ] %>
      <%= f.input :target_amount %>
      <div class="button-group">
        <%= f.submit'Submit', class: 'btn btn-ruby' %>
        <%= link_to 'Back to Targets', target_amounts_path, class: 'btn btn-ruby' %>
      </div>
    <% end %>
    </div>

</div>

<%# Insert a banner at the end %>
<div class="new_banner">
  <%# <img src="https://target.scene7.com/is/image/Target/102417_TargetApp_SH_WEB-m-211006-1633527784673?wid=668&amp;qlt=80&amp;fmt=webp" alt=""> %>
  <div class="text">
  </div>
</div>
</div>
