
<div class="targetamount_container_new">
<div class="center-text">
    <p>The easiest way to save your money is to set a target.</p>
</div>
<div class="money-tracking-app form-container"> <!-- Added form-container class -->
  <p>Set financial goals, track your progress, and make your dreams a reality. Start by creating a new target below.</p>
  <h1>Create a new target</h1>
  <%= form_for(@target) do |f| %>
    <div class="form-group">
      <%= f.label :target_date %>
      <%= f.date_field :target_date %>
    </div>

    <div class="form-group">
      <%= f.label :target_amount %>
      <%= f.text_field :target_amount %>
    </div>

    <%= f.submit %>
  <% end %>

  <div class="button-group">
    <%= link_to 'Back to Targets', target_amounts_path, class: 'btn btn-secondary' %>
    <%# <%= link_to 'Go to Home Page', root_path, class: 'btn btn-primary' %>
  </div>
</div>

<%# Insert a banner at the end %>
<div class="new_banner">
  <%# <img src="https://target.scene7.com/is/image/Target/102417_TargetApp_SH_WEB-m-211006-1633527784673?wid=668&amp;qlt=80&amp;fmt=webp" alt=""> %>
  <div class="text">
  </div>
</div>

</div>
