<!-- app/views/targets/show.html.erb -->

<h1>Target Details</h1>

<p><strong>Target Date:</strong> <%= @target.target_date %></p>
<p><strong>Target Amount:</strong> $<%= @target.target_amount %></p>
<p><strong>Status:</strong> <%= @target.status ? 'Completed' : 'Pending' %></p>
<p><strong>History Transaction:</strong> <%= @target.history_transaction %></p>

# this is the logic for display
<% if @balance.current_balance < @target.target_amount %>
  <%= "Target not yet acheived" %>
<% elsif @balance.current_balance = @target.target_amount %>
  <%= "Target acheived" %>
<% else @balance.current_balance > @target.target_amount %>
  <%= "Target exceeded" %>
<% end %>


<%= link_to 'Edit', edit_target_amount_path(@target) %> |
<%= link_to 'Back', target_amounts_path %>
