<!-- app/views/targets/show.html.erb -->
<div class="row py-5">
  <section>
    <div class="banner-target"></div>
  </section>
 <div class="col-12 align-self-center">
  <div class="targetamounts_container_show">
    <div class="container">
      <div class="center-text">
          <h1>Target Details</h1>
          <%# <p><strong>Remaining Balance:</strong> $<%= number_to_currency(@remaining_amount) %></p>
          <ul class="list-group">
            <li class="list-group-item">
              <p><strong>Target Date:</strong> <%= @target.target_date %></p>
              <p><strong>Target Amount:</strong> $<%= @target.target_amount %></p>
              <p><strong>Status:</strong> <%= @target.status %></p>
            </li>
          </ul>
    </div>

        <div class="button-group">
          <%= link_to 'Back to Targets', target_amounts_path, class: 'btn btn-ruby mt-3' %>

        </div>
    </div>
  </div>
  </div>
</div>

<%# <div class="col-12 col-md-6">
    <!--second block-->
      <div class="col-12 col-md-6">
        <img src="https://cdn.pixabay.com/photo/2017/06/04/20/48/vision-2372177_1280.jpg" alt="Vision Image" class="img-fluid image-right">
        <%# <%= column_chart Transaction.group(:category).sum(:amount) %>

      <%# </div>
</div> %>
