
// to change to simple form

<%= simple_form_for @balance do |f| %>
  <%= f.input :date %>
  <%= f.input :current_balance %>
  <%= f.input :account_number %>
  <%= f.button :submit %>
<% end %>

<%= console %>


<%# <div>Here, there should be a form so the user can create a new account</div> %>
<%# <div>Message that account is correctly created and renders show page</div> %>
<%# <div>balance_path(@balance)</div> %>
