<%#  %>
      <!-- RIGHT SIDE: CURRENT BALANCE SHEET  -->
      <%# This is where the user is redirected when they click on a specific account %>
 <div class="balance-sheet">
  <div class="header">
    <h2>Current Balance</h2>
    <p class="total-balance"><%= number_to_currency(@balance.current_balance , unit: "MUR ") %></p>
  </div>
  <% console %>
  <div class="balance-movement">
    <% @transactions.each do |transaction| %>
      <%= link_to transaction_path(transaction) do %>
        <div class="movement <%= transaction.transaction_type %>">
          <% if transaction.transaction_type == 'Credit' %>
          <div>
            +
          </div>
            <div class="amount positive"><%= number_to_currency(transaction.amount , unit: "MUR ") %></div>
          <% else %>
          <div>
            -
          </div>
          <div class="amount negative"><%= number_to_currency(transaction.amount , unit: "MUR ") %></div>
          <% end %>
          <div class="movement-description">


            <h3><%= transaction.description %></h3>
            <p><%= transaction.category %></p>


            <p><%= transaction.created_at.strftime("%d %b %Y %H:%M") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
