<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path( 'american.jpg') %>');">

<%# <div class="banner">
<section class="video_container">
    <video src="video.mp4" autoplay loop muted></video>
    <div class="overlay"></div>
</section>

  </div> %>
<%# #   <div class="video-container">
#   <video autoplay loop muted poster='header.png'>
#       <source src='video.mp4' type="video/mp4">
#     </video> %>

  <div class="container-left">
    <h1>Welcome to Moneymentor</h1>
    <p> Your partner for financial success, knowledge, and empowerment </p>
  </div>
</div>


<div class="features-section-container">


  <div class="features-section div1">

    <%= link_to balances_path do%>
        <%= image_tag('balanceicon.png') %>
    <% end %>
         <p>Maintaining a balanced account ensures financial stability and peace of mind.</p>
  </div>


  <div class="features-section div2">
    <%= link_to target_amounts_path do%>
        <%= image_tag('Targeticon.png') %>
    <% end %>
        <p>Saving money today secures a brighter tomorrow.</p>
  </div>


    <%= link_to transactions_path do%>
        <%= image_tag('Transaction.png') %>
    <% end %>
         <p>Maintaining a balanced account ensures financial stability and peace of mind.</p>
  </div>

       <%= image_tag('About us.png') %>

       <p>At Moneymentor, we're not just about managing money; we're about empowering your financial journey.</p>
  </div>

</div>


  <div class="footer">
      <h3>Moneymentor<span></span></h3>

  <div class="footer-links-container">

  <div>
			<li>	<a href="#">About</a> </li>
			<li>	<a href="#">Contact</a> </li>
  </div>


  <div>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>


<div class="footer-copyright">
	<p class="footer-company-name">Moneymentor © 2023</p>
</div>


</div>
