<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path( 'header.png') %>');">
  <div class="container">
    <h1>Welcome to Moneymentor</h1>
    <p> Your partner for financial success, knowledge, and empowerment </p>
  </div>
</div>
<div class="features-section-container">
<div class="features-section">


  <%= link_to balances_path do%>
  <%= image_tag('balanceicon.png') %>
  <% end %>
    <p>xxxxxxxxxxxxxxxx.</p>
    </div>

<div class="features-section">
<%= link_to target_amounts_path do%>
    <%= image_tag('Targeticon.png') %>
    <<% end %>>
     <p>xxxxxxxxxxxxxxxx.</p>
</div>

<div class="features-section">

    <%= image_tag('Transaction.png') %>
    
     <p>xxxxxxxxxxxxxxxx.</p>
</div>


<div class="footer">
  <h3>Moneymentor<span></span></h3>


  <div class="footer-links-container">

  <ul class="footer-links">
			<div>	<li >	<a href="#">Home</a> </li>


				<li>	<a href="#">About</a> </li>

				<li>	<a href="#">Faq</a> </li>

				<li>	<a href="#">Contact</a> </li>
				</ul>
</div>
<div>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

<%# <div class="footer">
  <h3>Moneymentor<span></span></h3>
  <div class="footer-links-container">

  <ul class="footer-links">
				<li >	<a href="#">Home</a> </li>

				<li>	<a href="#">Blog</a> </li>

				<li>	<a href="#">Pricing</a> </li>

				<li>	<a href="#">About</a> </li>

				<li>	<a href="#">Faq</a> </li>

				<li>	<a href="#">Contact</a> </li>
				</ul> %>


  <div class="footer-copyright">

  </div>
  </div>
	<p class="footer-company-name">Moneymentor © 2023</p>
</div>
