  <div class="transaction_container_index">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn5.vectorstock.com/i/1000x1000/25/99/financial-transactions-deposit-with-bank-cartoon-vector-27132599.jpg);">
    <%# <div class="container"> %>
    <h1 id="bannertitle">Your transactions</h1>
      <!--a class="btn btn-flat" href="#">Return to home</a-->
      <%= link_to 'Go to Home Page', root_path, class: 'btn btn-primary mt-3' %>
      <%= link_to 'create new transaction', new_transaction_path, class: 'btn btn-primary mt-3' %>
    </div>
 </div>

  <div class="grid-container" style="--bs-gap: .25rem 1rem;">
    <div class="grid-item item-1">
      Search bar placeholder
      </div>


  <div class="grid-item">

  <div class="transaction_center">
    <div class= "transaction_left_side">
      <%# <h1>This is our transaction view testing</h1> %>
      <h1 id="tabletitle">Your latest transactions!</h1>
      <%# <div class="container"> %>
        <%# <div class="row">
          <div class="col"> %>
          <table class="styled-table">
            <thead>
              <tr class="styled-columns">
                <th  scope="col">Transaction ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Transaction type</th>
                <th scope="col">Balance ID</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <% @transactions.each do |transaction| %>
            <tbody>
              <tr class="rows">
                  <th scope="row"><%= transaction.id %></th>
                    <td><%= transaction.amount %></td>
                    <td><%=  transaction.transaction_type %></td>
                    <td><%=  transaction.balance_id %></td>
                    <!--td><% link_to 'View',transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' } %> <span class="popup" data-popuptext="click to view transaction details">View</span></td-->
                    <td><% link_to 'View',transaction_path(transaction)%> <span class="popup" data-popuptext="click to view transaction details">View</span></td>
                    <!-- <%= link_to 'Edit', edit_transaction_path(transaction) %>
                    <%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' } %> -->
              </tr>
            </tbody>
             <% end %>
          </table>
          <%# </div>
        </div> %>
      <%# </div> %>
    </div>
    </div>
  </div><!-- grid item 2-->


  <div class="grid-item">
    <div class="transaction_category charts">
      <%= column_chart Transaction.group(:category).sum(:amount) %>

      <h1>Transaction category</h1>
    </div>
  <%# </div> %>
<%# </div> %>
</div><!--grid item 3 -->
</div> <!-- grid container-->
</div>
