<div class="transaction_container_index">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c0.wallpaperflare.com/preview/76/901/117/accounting-aerial-application-bankbook.jpg);">
    <div class="container">
      <h1>Your transactions</h1>
      <a class="btn btn-flat" href="#">Start saving</a>
    </div>
  </div>
  <div class="transaction_center">
    <div class= "transaction_left_side">
      <%# <h1>This is our transaction view testing</h1> %>
      <h1>Targets</h1>
      <div class="container">
        <%# <div class="row">
          <div class="col"> %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Transaction type</th>
                <th scope="col">Balance ID</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <% @transactions.each do |transaction| %>
            <tbody>
              <tr>
                  <th scope="row"><%= transaction.id %></th>
                    <td><%= transaction.amount %></td>
                    <td><%=  transaction.transaction_type %></td>
                    <td><%=  transaction.balance_id %></td>
                    <td><%= link_to 'View transaction', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <!-- <%= link_to 'Edit', edit_transaction_path(transaction) %>
                    <%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' } %> -->
              </tr>
            </tbody>
             <% end %>
          </table>
          <%# </div>
        </div> %>
      </div>
    </div>
    <div class="transaction_category">
      <h1>Transaction category</h1>
    </div>
  </div>
</div>
