<%# <h1>show</h1>
<%= cl_image_tag @transaction.photo.key, height: 300, width: 100, crop: :fill %>



<!--p class="transaction-details">Transaction details for transaction <%=@transaction.id%> </p>
  <li class ="details">Transaction ID: <%= @transaction.id %></li>
  <li class ="details">Date: <%= @transaction.date %></li>
  <li class ="details">Amount: <%= @transaction.amount %></li>
  <li class ="details">Description: <%= @transaction.description %></li>
  <li class ="details">Payment method: <%= @transaction.payment_method %></li>
  <li class ="details">category: <%= @transaction.category %></li>
  <li class ="details">Balance Account Number: <%= @transaction.balance.account_number%></li>
  <li class ="details">Currency: <%= @transaction.currency %></li>
  <li class ="details">Transaction type: <%= @transaction.transaction_type %></li> %!-->


<div class="grid-container" style="--bs-gap: .25rem 1rem;">
  <div class="grid-item item-1">
    <p class="transaction-details">Transaction details for transaction <%=@transaction.id%> </p>
  </div>



  <div class="grid-item">
    <li class ="details">Transaction ID: <%= @transaction.id %></li>
    <li class ="details">Date: <%= @transaction.date %></li>
    <li class ="details">Amount: <%= @transaction.amount %></li>
    <li class ="details">Description: <%= @transaction.description %></li>
    <li class ="details">Payment method: <%= @transaction.payment_method %></li>
    <li class ="details">category: <%= @transaction.category %></li>
    <li class ="details">Balance Account Number: <%= @transaction.balance.account_number%></li>
    <li class ="details">Currency: <%= @transaction.currency %></li>
    <li class ="details">Transaction type: <%= @transaction.transaction_type %></li>
  </div><!-- grid item 2-->



  <div class="grid-item">
    <div class ="photo-display">
    <%= cl_image_tag @transaction.photo.key, height: 600, width: 600, crop: :fill %>
    </div>
  </div>
</div> <!-- grid container-->
