<%# <h1>show</h1>
<%= cl_image_tag @transaction.photo.key, height: 300, width: 100, crop: :fill %>



<!--p class="transaction-details">Transaction details for transaction <%=@transaction.id%> </p>
  <li class ="details">Transaction ID: <%= @transaction.id %></li>
  <li class ="details">Date: <%= @transaction.date %></li>
  <li class ="details">Amount: <%= @transaction.amount %></li>
  <li class ="details">Description: <%= @transaction.description %></li>
  <li class ="details">Payment method: <%= @transaction.payment_method %></li>
  <li class ="details">category: <%= @transaction.category %></li>
  <li class ="details">Balance Account Number: <%= @transaction.balance.account_number%></li>
  <li class ="details">Currency: <%= @transaction.currency %></li>
  <li class ="details">Transaction type: <%= @transaction.transaction_type %></li> %!-->


<div class="grid-container show-grid-container" style="--bs-gap: .25rem 1rem;">
  <div class="grid-item show-grid-item item-1 show-item-1">
    <p class="transaction-details">Transaction# <%=@transaction.id%> </p>
  </div>



  <div class="show-grid-item">
    <div class="card">
      <h5 class="card-header">#<%= @transaction.id %></h5>
    <div class="card-body">
        <h5 class="card-title">Transaction details:</h5>
          <table style="width:100%">
            <tr>
            <th><p class ="details">Transaction Number:</p></th>
            <td><p class = "detailsdetails"><%= @transaction.id %></p></td>
            </tr>
            <tr>
            <th><p class ="details">Date:</p></th>
            <td><p class = "detailsdetails"><%= @transaction.date %></p> </td>
            </tr>
            <tr>
            <th><p class ="details">Amount:</p></th>
            <td><p class = "detailsdetails"><%= @transaction.amount %></td>
            </tr>
            <tr>
            <th><p class ="details">Description:</p></th>
            <td><p class = "detailsdetails"> <%= @transaction.description %></p></td>
            </tr>
            <tr>
            <th><p class ="details">Payment Method:</p></th>
            <td><p class = "detailsdetails"><%= @transaction.payment_method %></p></td>
            </tr>
            <tr>
            <th><p class ="details">Category:</p></th>
            <td><p class = "detailsdetails"><%= @transaction.category %></p></td>
            </tr>
            <tr>
            <td><p class ="details">Balance Account:</p></td>
            <th><p class = "detailsdetails"><%= @transaction.balance.account_number%></p></th>
            </tr>
            <tr>
            <td><p class ="details">Currency:</p></td>
            <th><p class = "detailsdetails"> <%= @transaction.currency %></p></th>
            </tr>
            <tr>
            <td><p class ="details">Transaction Type:</p></td>
            <th><p class = "detailsdetails"> <%= @transaction.transaction_type %></p></th>
            </tr>
          </table>
            <%= link_to 'Back', transactions_path, class: 'btn btn-primary mt-3' %>
    </div>
    </div>
  </div><!-- grid item 2-->



  <div class="show-grid-item">
    <div class ="photo-display">
    <%= cl_image_tag @transaction.photo.key, height: 600, width: 600, crop: :fill %>
    </div>
  </div>
</div> <!-- grid container-->
